<form method="POST" action="{% url 'update' %}" class="form w3-center">{% csrf_token %}
	<input type="hidden" name="product_id" value="{{ product.id }}">
	{% if product in cart.products.all %}
		<button type="submit" class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Remove</button>
	{% else %}
	<button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add</button>
	{% endif %}
</form>