{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- navbar-->
    <header class="header mb-5">
      <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
      <div id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="menu list-inline mb-0">
                <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                <li class="list-inline-item"><a href="register.html">Register</a></li>
                <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                <li class="list-inline-item"><a href="#">Recently viewed</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Customer login</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <form action="customer-orders.html" method="post">
                  <div class="form-group">
                    <input id="email-modal" type="text" placeholder="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input id="password-modal" type="password" placeholder="password" class="form-control">
                  </div>
                  <p class="text-center">
                    <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                  </p>
                </form>
                <p class="text-center text-muted">Not registered yet?</p>
                <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** TOP BAR END ***-->
        
        
      </div>

      <!-- include navbar here -->

      <nav class="navbar navbar-expand-lg">
        
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="{% url 'department' %}" class="nav-link">Departments</a></li>

              
              {% for main in mainCats%}

              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">{{main.main_cat_name}}<b class="caret"></b></a>
                 <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">

{% for sub in subCats %}
{%if sub.main_category.id == main.id %}

                      <div class="col-md-6 col-lg-3">
                        <h5>{{sub.sub_cat_name}}</h5>
                        <ul class="list-unstyled mb-3">

{% for cat in categories %}
{%if cat.sub_category.id == sub.id %}

                          <li class="nav-item"><a href="{% url 'category' cat.id %}" class="nav-link">{{cat.cat_name}}</a></li>

{% endif %}
{% endfor %}
                        </ul>
                      </div>

{% endif %}
{% endfor %}


                    </div>
                  </li>
                </ul>
              </li>
              {% endfor %}
            </ul>

            <div class="navbar-buttons d-flex justify-content-end">
              <!-- /.nav-collapse-->
              <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
              <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="{% url 'cart' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>View cart</span></a></div>
            </div>


        </div>
      </nav>

      <div id="search" class="collapse">
        <div class="container">
          <form role="search" class="ml-auto">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>


<!-- category list ndipo inapoanzia  -->
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">                       
            <div class="col-lg-12">
              <!-- breadcrumb-->

               <nav aria-label="breadcrumb">
                <ol class="breadcrumb">


                  <li class="breadcrumb-item"><a href="#">Home</a></li>

{% for cat in categories %}
  {% if cat.id == categorySelected %}
  
                  <li class="breadcrumb-item"><a href="#">{{cat.sub_category.main_category.main_cat_name}}</a></li>
                  <li class="breadcrumb-item"><a href="#">{{cat.sub_category.sub_cat_name}}</a></li>
                  <li aria-current="page" class="breadcrumb-item active">{{cat.cat_name}}</li>

  {%endif%}
{%endfor%}
                </ol>
              </nav>

              <!-- Product list inapoanzia -->
              <div class="row products">
                

                {% for product in products %}
                <div class="col-lg-3 col-md-4">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="{% url 'product-details' product.pk %}"><img src="{{product.image.url}}" alt="{{product.title}}" class="img-fluid"></a></div>
                        <div class="back"><a href="{% url 'product-details' product.pk %}"><img src="{{product.image.url}}" alt="{{product.title}}" class="img-fluid"></a></div>
                      </div>
                    </div><a href="{% url 'product-details' product.pk %}" class="invisible"><img src="{{product.image.url}}" alt="{{product.title}}" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="{% url 'product-details' product.pk %}">{{product.title}}</a></h3>
                      <p class="price"> 
                        <del class="w3-text-red">{{product.list_price}}</del>&nbsp;{{product.price}}
                      </p>
                      <p class="buttons">
                        
                        {% include 'snippets/_addtocart.html' with product=product cart=cart%}
                      
                      </p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                {% endfor %}
                
              </div>



              <!-- pagination inapoanzia -->
              <div class="pages">
                
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>


    {% endblock%}