{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- navbar-->
    <header class="header mb-5">
      <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
      <div id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="menu list-inline mb-0">
                <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                <li class="list-inline-item"><a href="register.html">Register</a></li>
                <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                <li class="list-inline-item"><a href="#">Recently viewed</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Customer login</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <form action="customer-orders.html" method="post">
                  <div class="form-group">
                    <input id="email-modal" type="text" placeholder="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input id="password-modal" type="password" placeholder="password" class="form-control">
                  </div>
                  <p class="text-center">
                    <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                  </p>
                </form>
                <p class="text-center text-muted">Not registered yet?</p>
                <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** TOP BAR END ***-->
        
        
      </div>

      <!-- include navbar here -->

      <nav class="navbar navbar-expand-lg">
        
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="{% url 'department' %}" class="nav-link">Departments</a></li>

              
              {% for main in mainCats%}

            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">{{main.main_cat_name}}<b class="caret"></b></a>
                 <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">

{% for sub in subCats %}
{%if sub.main_category.id == main.id %}

                      <div class="col-md-6 col-lg-3">
                        <h5>{{sub.sub_cat_name}}</h5>
                        <ul class="list-unstyled mb-3">

{% for cat in categories %}
{%if cat.sub_category.id == sub.id %}

                          <li class="nav-item"><a href="{% url 'category' cat.id %}" class="nav-link">{{cat.cat_name}}</a></li>

{% endif %}
{% endfor %}
                        </ul>
                      </div>

{% endif %}
{% endfor %}


                    </div>
                  </li>
                </ul>
              </li>
              {% endfor %}
            </ul>
            
            <div class="navbar-buttons d-flex justify-content-end">
              <!-- /.nav-collapse-->
              <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
              <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="{% url 'cart' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>View cart</span></a></div>
            </div>



        </div>
      </nav>

      <div id="search" class="collapse">
        <div class="container">
          <form role="search" class="ml-auto">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>

<!-- Department inapoanzia -->

<div class="container">
	<div class="text-center">
		<h1>DEPARTMENTS</h1>
	</div>

<!-- add ujinga -->

 <div class="row">
	  {% for mainCat in mainCats %}

    <div class="col-sm-4 w3-container w3-margin-bottom">
      <div class="w3-card-4" style="height: 100%">
			  <img src="{{mainCat.cat_image.url}}" alt="{{ mainCat.main_cat_name }}" width="100%" height="45%">
			  <div class="w3-container">
			    <h6>{{ mainCat.main_cat_name }}</h6>
			    <ul style="list-style-type: none; float: left" class="w3-left">
			    {% for subcat in subCats %}
			    	{%if mainCat.id == subcat.main_category.id %}
			    		<li><a href="#">{{subcat.sub_cat_name}}</a></li>
			    	{% endif %}
			    	
			    {% endfor %}
			    </ul>
			  </div>
			</div> 
    </div>
	  {% endfor %}

  </div>

<!-- mwisho wa ujinga -->
</div>

{% endblock%}